<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a class="logo" href="http://www.funficient.com"><img src="/assets/logo.png"></a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script type="text/javascript">

    window.addEventListener("scroll", function(){

        const header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    });

</script>